@use "../../styles/colors" as color;
@import "../../styles/mixin";

.bnt__login {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  @include center-both;
  @include text-styles(1rem, bold, color.$gray-10);
}

.btn__pill {
  width: 60%;
  height: 34px;
  margin: 0 auto;
  @include center-both;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn__pill:hover {
  background-color: color.$primary-color;
  color: color.$assistant-gray-color;
}
