@use "../styles/colors" as color;
@import "../styles/mixin";

.buttonBox {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: color.$assistant-gray-color;
  cursor: pointer;
  @include center-both;
  gap: 5px;
  @include text-styles(1.25rem, bold, color.$gray-10);
}
