@use "../../styles/colors" as color;
@import "../../styles/mixin";

.container {
  width: 100vw;
  height: 88vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(color.$brand-light-color, 0.8),
      rgba(color.$assistant-green-color, 0.8)
    ),
    url(../../public/images/background/googlemap.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

  .auth {
    width: 80%;
    margin: 0 auto;
    padding-top: 10rem;
    text-align: center;
    border-radius: 6px;
    .div__btn {
      margin-top: 2rem;
      @include center-both;
      flex-direction: column;
    }
  }
}
