@use "_colors.scss" as color;

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(color.$primary-color, 0.8),
      rgba(color.$assistant-green-color, 0.8)
    ),
    url(../public/images/background/googlemap.jpg);
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
}
